{% extends 'base.html' %}

{% block content %}
    <h1>List of products for: {{ profile }}</h1>
    {% if user != profile.user %}
        <a class="text-secondary" href="{% url 'order:create' profile.pk %}">Make an order</a>
    {% endif %}
    <ul>
        {% for object in object_list %}
            <li>{{ object.product }} {{ object.unit }} {{ object.price }}</li>
        {% empty %}
            <p class="text-secondary">No products to display.</p>
        {% endfor %}
    </ul>
{% endblock %}